:root {
	--scrollbar-thumb-color: #9e9e9e
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:visited, a:hover, a:focus {
	color: inherit;
	/* text-decoration: none; */
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[contenteditable][placeholder]:empty::before {
	content: attr(placeholder);
	position: absolute;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 8px;
}