:root {
	--scrollbar-thumb-color: #9e9e9e
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:visited, a:hover, a:focus {
	color: inherit;
	/* text-decoration: none; */
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 8px;
}